MONGODB_URI=mongodb+srv://recruiter:agenticai2026@cluster0.xxxxx.mongodb.net/?retryWrites=true&w=majority
DB_NAME=ai_recruiter
GROQ_API_KEY=gsk_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SECRET_KEY=your_super_secret_key_here_change_this
